UNITY_SERIAL="XXXXX"
UNITY_EMAIL="example@test.com"
UNITY_PASSWORD="password"
PROJECT_PATH="FULL_PATH_TO_PTOJECT"
SCRIPT_PATH="Assets/Scripts"
UNITY_ASM_NAME="gameassemblyname"
UNITY_LLM_API_KEY="XXXX"
HF_TOKEN="XXXXXXXXX"
PLAYTEST_FOLDER = "Assets/Tests/"
EDITORTEST_FOLDER = "Assets/TestsEditor/"